/// set the flexbox properties
///
/// @param $propertyName {string} name of the property flex 
/// @param $propertyValue {string} value of the property flex
/// @param $className {string} name of the generated class
/// @param $prefix {string} prefix of the class name
/// @param $suffix {string} suffix of the class name
@mixin flexProperty ($propertyName, $propertyValue, $className, $prefix: null, $suffix: null) {
  @if ($propertyName == "flex-direction") or ($propertyName == "flex-wrap") {
    @if $prefix != null {
      $className: #{$prefix}-#{$className};
    }

    .#{$className} { #{$propertyName}: #{$propertyValue} !important; }
  }

  @else if ($propertyName == "flex-grow") or ($propertyName == "flex-shrink") {
    @if $prefix != null {
      $className: #{$prefix}-#{$className};
    }

    @else {
      $className: #{$className};
    }

    .#{$className} { #{$propertyName}: #{$propertyValue} !important; }
  }

  @else if $propertyName == "flex" {
    @if $suffix != null {
      $className: #{$className}-#{$suffix};
    }
    .#{$className} { #{$propertyName}: #{$propertyValue} !important; }
  }

  @else {
    @if $prefix != null {
      $className: #{$prefix}-#{$propertyName}-#{$className};
    }

    @else {
      $className: #{$propertyName}-#{$className};
    }

    .#{$className} { #{$propertyName}: #{$propertyValue} !important; }
  }
}

/// set custom flexbox
///
/// @param $flexDirection {string} property flex-direction
/// @param $flexWrap {string} property flex-wrap
/// @param $flexJustifyContent {string} property justify-content
/// @param $flexAlignItems {string} property align-items
/// @param $flexAlignContent {string} property align-content
/// @param $flexAlignSelf {string} property align-self
/// @param $flexGrow {string} property flex-grow
/// @param $flexShrink {string} property flex-shrink
@mixin flexCustom ($flexDirection: null, $flexWrap: null, $flexJustifyContent: null, $flexAlignItems: null, $flexAlignContent: null, $flexAlignSelf: null, $flexGrow: null, $flexShrink: null) {
  @if $flexDirection != null {
    flex-direction: #{$flexDirection};
  }

  @if $flexWrap != null {
    flex-wrap: #{$flexWrap};
  }

  @if $flexJustifyContent != null {
    justify-content: #{$flexJustifyContent};
  }

  @if $flexAlignItems != null {
    align-items: #{$flexAlignItems};
  }

  @if $flexAlignContent != null {
    align-content: #{$flexAlignContent};
  }

  @if $flexAlignSelf != null {
    align-self: #{$flexAlignSelf};
  }

  @if $flexGrow != null {
    flex-grow: #{$flexGrow};
  }

  @if $flexShrink != null {
    flex-shrink: #{$flexShrink};
  }
}
