/// set the breakword
///
@mixin textBreak () {
  .text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
  }
}

/// set the font-size of an element
///
/// @param $fontSize value of the property font-size
/// @param $important {boolean} activate or not the option! important
@mixin font-size($fontSize, $important: false) {
  $fontSizeUnit: if(type-of($fontSize) == "number", unit($fontSize), false);
  $suffix: if($important, " !important", "");

  @if not $fontSizeUnit or $fontSizeUnit != "" or $fontSize == 0 {
    font-size: #{$fontSize}#{$suffix};
  }
}

