// generate utility classes for properties color & background-color
//
// with shades of colors
//
@each $key, $value in $colors {
  .text-#{$key} {
    color: $value !important;
  }

  .bg-#{$key} {
    background-color: $value !important;
  }
}

// with shades of gray
//
@each $key, $value in $grays {
  .text-gray-#{$key} {
    color: $value !important;
  }

  .bg-gray-#{$key} {
    background-color: $value !important;
  }
}
