// generate the class for the button tags
//
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;

  @include buttonSize($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;

    @include boxShadow(none);
  }

  &:not(:disabled):not(.disabled):active {
    @include boxShadow($btn-active-box-shadow);

    &:focus {
      @include boxShadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

// generate the class for the button tags size
//
.btn-lg {
  @include buttonSize($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include buttonSize($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

// generate the class for the button tags of type block
//
.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// generate the class for the button tags of type links
//
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}

// generate the class for properties Background-color & border-color of the button tags 
//
@each $key, $value in $colors {
  .btn-#{$key} {
    background-color: #{$value} !important;
  }

  .btn-border-#{$key} {
    border-color: #{$value} !important;
  }
}

@each $key, $value in $grays {
  .btn-#{$key} {
    background-color: #{$value} !important;
  }

  .btn-border-#{$key} {
    border-color: #{$value} !important;
  }
}
