// generate the class for the input items
//
.form-control {
  display: block;
  background-color: $input-bg;
  font-family: $input-font-family;
  color: $input-color;

  @include font-size($input-font-size);

  font-weight: $input-font-weight;
  line-height: $input-line-height;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: $input-border-width solid $input-border-color;

  @include borderRadius($input-border-radius, 0);
  @include boxShadow($input-box-shadow);

  // focus
  @include formControlFocus();

  // placeholder
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
}

// generate the class for input items of type file and range
//
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

// generate the class for the labels
//
.col-form-label {
  @include font-size(inherit);

  line-height: $input-line-height;
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0;
}

.col-form-label-sm {
  @include font-size($input-font-size-sm);

  line-height: $input-line-height-sm;
  padding-top: calc(#{$input-padding-y-sm} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-sm} + #{$input-border-width});
}

.col-form-label-lg {
  @include font-size($input-font-size-lg);

  line-height: $input-line-height-lg;
  padding-top: calc(#{$input-padding-y-lg} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-lg} + #{$input-border-width});
}

// generate the class for the input items sizing
//
.form-control-sm {
  @include font-size($input-font-size-sm);

  line-height: $input-line-height-sm;
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;

  @include borderRadius($input-border-radius-sm);
}

.form-control-lg {
  @include font-size($input-font-size-lg);

  line-height: $input-line-height-lg;
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;

  @include borderRadius($input-border-radius-lg);
}

select.form-control {
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.form-control {
  height: auto;
}

// generate the class for the input checkboxes and radios
//
.form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  &:disabled ~ .form-check-label {
    color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: $form-check-inline-margin-x;

  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: $form-check-inline-input-margin-x;
    margin-left: 0;
  }
}

// generate the class for the input parent element
//
.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;
}

// generate the class for the input parent element with a display inline
//
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .form-check {
    width: 100%;
  }

  @include media-queries-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .input-group,
    .custom-select {
      width: auto;
    }

    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }

    .form-check-input {
      position: relative;
      flex-shrink: 0;
      margin-top: 0;
      margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }

    .custom-control-label {
      margin-bottom: 0;
    }
  }
}
