// generate classes for responsive images
//
.img-responsive {
  max-width: 100%;
  height: auto;
}

// generate classes for the figure
//
figure {
  display: $figure-display;
}

.figure-img {
  margin-bottom: $figure-image-margin;
  line-height: $figure-image-line-height;
}

.figure-caption {
  @include font-size($figure-caption-font-size);

  color: $figure-caption-color;
}
