// generate the utility classes for property Float
//
@each $propertyName, $abbrev in $properties {
  @include generate-classes($propertyName, "float", $abbrev, $floats);
}

// generate the clearfix utility class to clear a Float 
//
.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
