// border
//
// list the values of border properties ​​used in generic classes
//
$border-default:              1px solid $black !default;
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$borders: () !default;
$borders: map-merge(
  (
    "none":     none,
    "default":  $border-default,
    "width":    $border-width,
    "color":    $border-color,
  ),
  $borders
);

// list the values of border-radius properties ​​used in generic classes
//
$border-radius-base:          .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-circle:              100% !default;
$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$rounded: () !default;
$rounded: map-merge(
  (
    "default":   $border-radius-base,
    "none":      0,
    "lg":        $border-radius-lg,
    "sm":        $border-radius-sm,
    "circle":    $rounded-circle,
    "pill":      $rounded-pill
  ),
  $rounded
);
