// breakpoints
//
// list the values of global breakpoints ​
//
$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
  ),
  $grid-breakpoints
);

// list the values of customs breakpoints ​
//
$custom-breakpoints: () !default;
$custom-breakpoints: map-merge(
  (
    "custom-500": 500px,
    "custom-600": 600px,
    "custom-700": 700px
  ),
  $custom-breakpoints
);
