// containers
//
// set the total width of the container padding
//
$grid-gutter-width:     30px !default;

// list the container widths for each breakpoints
//
$container-widths: () !default;
$container-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
  ),
  $container-widths
);
