// flexbox
//
// list the values of flex-direction property ​​used in generic classes
//
$flexDirections: () !default;
$flexDirections: map-merge(
  (
    "row":             row,
    "row-reverse":     row-reverse,
    "column":          column,
    "column-reverse":  column-reverse
  ),
  $flexDirections
);

// list the values of flex-wrap property ​​used in generic classes
//
$flexWraps: () !default;
$flexWraps: map-merge(
  (
    "nowrap":          nowrap,
    "wrap":            wrap,
    "wrap-reverse":    wrap-reverse
  ),
  $flexWraps
);

// list the values of justify-content property ​​used in generic classes
//
$justifyContent: () !default;
$justifyContent: map-merge(
  (
    "start":           flex-start,
    "end":             flex-end,
    "center":          center,
    "space-between":   space-between,
    "space-around":    space-around,
    "space-evenly":    space-evenly
  ),
  $justifyContent
);

// list the values of align-items property ​​used in generic classes
//
$alignItems: () !default;
$alignItems: map-merge(
  (
    "start":           flex-start,
    "end":             flex-end,
    "center":          center,
    "stretch":         stretch,
    "baseline":        baseline
  ),
  $alignItems
);

// list the values of align-content property ​​used in generic classes
//
$alignContent: () !default;
$alignContent: map-merge(
  (
    "start":           flex-start,
    "end":             flex-end,
    "center":          center,
    "stretch":         stretch,
    "space-between":   space-between,
    "space-around":    space-around,
  ),
  $alignContent
);

// list the values of align-self property ​​used in generic classes
//
$alignSelf: () !default;
$alignSelf: map-merge(
  (
    "auto":            auto,
    "start":           flex-start,
    "end":             flex-end,
    "center":          center,
    "stretch":         stretch,
    "baseline":        baseline
  ),
  $alignSelf
);

// list the values of flex-grow property ​​used in generic classes
//
$flexGrow: () !default;
$flexGrow: map-merge(
  (
    0:    0,
    1:    1
  ),
  $flexGrow
);

// list the values of flex-shrink property ​​used in generic classes
//
$flexShrink: () !default;
$flexShrink: map-merge(
  (
    0:    0,
    1:    1
  ),
  $flexShrink
);

// list the values of flex property ​​used in generic classes
//
$flex: () !default;
$flex: map-merge(
  (
    "fill":    1 1 auto !important,
  ),
  $flex
);
