// Figures
//
$figure-caption-font-size:          90% !default;
$figure-caption-color:              $gray-600 !default;

$figure-image-margin:               $spacer-base / 2 !default;
$figure-image-line-height:          1 !default;
