// options
//
$enable-grid-classes:                       true !default;
$enable-pointer-cursor-for-buttons:         true !default;
$enable-rounded:                            true !default;
$enable-shadows:                            false !default;
