// position
//
// list the values of position property ​​used in generic classes
//
$positions: () !default;
$positions: map-merge(
  (
    "s":   static,
    "r":   relative,
    "a":   absolute,
    "f":   fixed
  ),
  $positions
);

// list the values in position fixed ​​used in generic classes
//
$positionFixed: () !default;
$positionFixed: map-merge(
  (
    "top":      top,
    "bottom":   bottom
  ),
  $positionFixed
);
