// name and abbreviation of properties css
//
$properties: () !default;
$properties: map-merge(
  (
    "position":                      "p",
    "display":                       "d",
    "flex-direction":                "direction",
    "flex-wrap":                     "wrap",
    "justify-content":               "justify-content",
    "align-items":                   "align-items",
    "align-content":                 "align-content",
    "align-self":                    "align-self",
    "flex-grow":                     "grow",
    "flex-shrink":                   "shrink",
    "flex":                          "flex",
    "float":                         "float",
    "background-color":              "bg",
    "color":                         "text",
    "font-weight":                   "font-weight",
    "font-style":                    "font-style",
    "white-space":                   "white-space",
    "text-align":                    "text-align",
    "text-transform":                "text-transform",
    "text-decoration":               "text-decoration",
    "word-break":                    "word-break",
    "vertical-align":                "va",
    "width":                         "w",
    "min-width":                     "min-w",
    "max-width":                     "max-w",
    "height":                        "h",
    "min-height":                    "min-h",
    "max-height":                    "max-h",
    "margin":                        "m",
    "margin-top":                    "mt",
    "margin-right":                  "mr",
    "margin-bottom":                 "mb",
    "margin-left":                   "ml",
    "padding":                       "p",
    "padding-top":                   "pt",
    "padding-right":                 "pr",
    "padding-bottom":                "pb",
    "padding-left":                  "pl",
    "border":                        "b",
    "border-top":                    "bt",
    "border-right":                  "br",
    "border-bottom":                 "bb",
    "border-left":                   "bl",
    "border-color":                  "border-color",
    "border-radius":                 "rounded",
    "border-top-left-radius":        "rounded-top-left",
    "border-top-right-radius":       "rounded-top-right",
    "border-bottom-left-radius":     "rounded-bottom-left",
    "border-bottom-right-radius":    "rounded-bottom-right",
    "overflow":                      "o",
    "visibility":                    "v",
    "box-shadow":                    "box-shadow",
  ),
  $properties
);

// generic properties
//
$propertiesGeneric: () !default;
$propertiesGeneric: map-merge(
  (
    "horizontal":       "x",
    "vertical":         "y",
  ),
  $propertiesGeneric
);

// generic properties for border-radius
//
$propertiesGenericForBorderRadius: () !default;
$propertiesGenericForBorderRadius: map-merge(
  (
    "border-radius-top":       "top",
    "border-radius-right":     "right",
    "border-radius-bottom":    "bottom",
    "border-radius-left":      "left"
  ),
  $propertiesGenericForBorderRadius
);
