// text
//
// headings
//
$headings-margin-bottom:      $spacer-base / 2 !default;
$headings-font-family:        null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// list the values of the font-weight property ​​used in generic classes
//
$font-weight-lighter:   lighter !default;
$font-weight-light:     300 !default;
$font-weight-normal:    400 !default;
$font-weight-bold:      700 !default;
$font-weight-bolder:    bolder !default;

$fontWeight: () !default;
$fontWeight: map-merge(
  (
    "normal":    $font-weight-normal,
    "light":     $font-weight-light,
    "lighter":   $font-weight-lighter,
    "bold":      $font-weight-bold,
    "bolder":    $font-weight-bolder
  ),
  $fontWeight
);

// list the values of the font-style property ​​used in generic classes
//
$fontStyles: () !default;
$fontStyles: map-merge(
  (
    "normal":    normal,
    "italic":    italic
  ),
  $fontStyles
);

// list the values of the white-space property ​​used in generic classes
$whiteSpaces: () !default;
$whiteSpaces: map-merge(
  (
    "normal":     normal,
    "nowrap":     nowrap,
    "pre":        pre
  ),
  $whiteSpaces
);

// list the values of the text-align property ​​used in generic classes
//
$textAligns: () !default;
$textAligns: map-merge(
  (
    "left":      left,
    "right":     right,
    "center":    center,
    "justify":   justify
  ),
  $textAligns
);

// list the values of the text-transform property ​​used in generic classes
//
$textTransform: () !default;
$textTransform: map-merge(
  (
    "none":        none,
    "lowercase":   lowercase,
    "uppercase":   uppercase,
    "capitalize":  capitalize
  ),
  $textTransform
);

// list the values of the text-decoration property ​​used in generic classes
//
$textDecorations: () !default;
$textDecorations: map-merge(
  (
    "none":       none,
    "underline":  underline
  ),
  $textDecorations
);

// list the contextual colors used in generic classes
//
$text-muted:     $gray-600 !default;

$textColors: () !default;
$textColors: map-merge(
  (
    "body":      $body-color,
    "muted":     $text-muted
  ),
  $textColors
);

