// units
//
// set units of measure as a percentage
//
$units: () !default;
$units: map-merge(
  (
    auto: auto,
    16: 16.666667%,
    25: 25%,
    33: 33.33333%,
    50: 50%,
    66: 66.66666%,
    75: 75%,
    91: 91.666667%,
    100: 100%,
  ),
  $units
);
